/* 
brady & sara hw 6
stylesheet
*/

/* make all font arial */
body{
	font-family: Arial;
}

/* make text in this class centered */
.centered {
	text-align: center;
}

/* three evenly spaced columns */
.columns {
	display: flex;
}

.third-col {
	width: 33.333%;
}

/* coloring for different species */
#setosa {
	fill: #c0affb;
	opacity: 0.5;
}

#versicolor {
	fill: #e6a176;
	opacity: 0.5;
}

#virginica {
	fill: #5ecaab;
	opacity: 0.5;
}

/* for brushing, change outline & opacity */
.selected {
	stroke: orange;
	stroke-width: 2px;
	opacity: 1 !important;
}

